<%= form_with(model: kart) do |form| %>
  <% if kart.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kart.errors.count, "error") %> prohibited this kart from being saved:</h2>

      <ul>
        <% kart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Nom du kart, style: "display: block" %>
    <%= form.text_field :size %>
  </div>

  <div>
    <%= form.label :Couleur, style: "display: block" %>
    <%= form.text_field :color %>
  </div>

  <div>
    <%= form.label :Vitesse, style: "display: block" %>
    <%= form.text_field :speed %>
  </div>

  <div>
    <%= form.label :Maniabilité, style: "display: block" %>
    <%= form.text_field :maneuverability %>
  </div>

  <div>
    <%= form.label :Description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :Image, style: "display: block" %>
    <%= form.text_area :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
