<div id="<%= dom_id kart %>">
  <p>
  <strong>Nom du Kart:</strong>
  <%= kart.size %>
  </p>

  <p>
    <strong>Couleur du Kart:</strong>
    <%= kart.color %>
  </p>

  <p>
    <strong>Vitesse du Kart:</strong>
    <%= kart.speed %>
  </p>

  <p>
    <strong>Maniabilité:</strong>
    <%= kart.maneuverability %>
  </p>

  <p>
    <strong>Description du kart:</strong>
    <%= kart.description %>
  </p>

  <p>
    <%= kart.image %>
  </p>

</div>