<div id="<%= dom_id_kart %>">
  <p>
  <img src="<%= kart.image %>">
  </p>
  <div>
    <p>
    <strong>Nom du Kart:</strong>
    <%= kart.size %>
    </p>
    <p>
    <strong>Vitesse:</strong>
    <%= kart.speed %>
    </p>
    <p>
    <strong>Maniabilité:</strong>
    <%= kart.maneuverability %>
    </p>
    <p>
    <strong>Couleur:</strong>
    <%= kart.color %>
    </p>
    <p>
    <strong>Description:</strong>
    <%= kart.description %>
    </p>
  </div>
  
</div>