<div id="<%= dom_id kart %>">
  <p>
    <strong>Size:</strong>
    <%= kart.size %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= kart.color %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= kart.speed %>
  </p>

  <p>
    <strong>Maneuverability:</strong>
    <%= kart.maneuverability %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= kart.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= kart.image %>
  </p>

</div>
