<p style="color: green"><%= notice %></p>

<header>
<%= image_tag('logo.png') %>
</header>
<div class="phrase_accroche">
<h2>Vous avez encore des doutes sur le choix de votre véhicule sur Mario Kart ? Aucun problème ! Mkmania est la réponse à tout vos problèmes existentiels.</h2>
</div>

<div id="karts">
 <% @karts.each do |kart| %>
  <div class="voiture">
    <p>
    <img src="<%= kart.image %>" class="kart_image">
    </p>
    <p>
    <%= kart.size %>
    </p>
  <p class="liens_ruby"><%= link_to "Voir ce kart", kart %></p>
  </div>
<% end %>
</div>

<p class="liens_ruby"><%= link_to "Nouveau kart", new_kart_path %></p>
