<p style="color: green"><%= notice %></p>

<header>
<a href="index.html">
  <%= image_tag('logo.png') %>
</a>
</header>
<div class="phrase_accroche">
<h2>Vous avez encore des doutes sur le choix de votre véhicule sur Mario Kart ? Aucun problème ! Mkmania est la réponse à tout vos problèmes existentiels.</h2>
</div>

<div id="karts">
 <% @karts.each do |kart| %>
  <%= link_to "Show this kart", kart %>
  <%= render kart %>
<% end %>
</div>

<%= link_to "New kart", new_kart_path %>
