<!DOCTYPE html>
<html>
  <head>
    <title>Mkmania</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
<header>
<%= link_to "<%= image_tag('logo.png') %>", karts_path %>
</header>

  <body>
    <%= yield %>
  </body>
    
  <footer>
  <p>©2024 - All rights reserved</p>
  <p>Made with : Ruby on Rails, Bootstrap, Midjourney</p>
  <p>DUTEIL Bartholomé, DELGADO Adrian</p>
  </footer>
</html>
